<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="border: 1px solid #ccc; padding: 20px; font-size: 14px; width: 520px;">
    <p>尊敬的用户：</p>
    <p style="text-indent: 2em;">欢迎你加入我们，有你的支持与帮助，《法信-法律图书馆》会变得越来越好。</p>
    <p style="text-indent: 2em;">希望她能给你带来方便，也希望你多给我们<a href="http://www.kekestudio.com/feedbacks/new">提意见</a>！</p>
    </div>
  </body>
</html>