<div class="box">
  <h2>统计</h2>
  <ul>
    <li><strong>类别：</strong><%= LawType.count %></li>
    <li><strong>法律：</strong><%= Law.count %> 篇 </li>
    <li><strong>判例：</strong><%= Case.count %> 篇 </li>
  </ul>
</div>

